html, body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  cursor: default;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
}

body {
  text-align: center;
}

.collapsible {
  background-color: #fff;
  color: black;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid black;
  text-align: left;
  outline: none;
  font-size: 1rem;
  margin-top: -1px;
  margin-bottom: -1px;
  font-weight: 500;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.active, .collapsible:hover {
  background-color: #fff;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 1rem;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
  border: 1px solid black;
  margin-top: -1px;
  margin-bottom: -1px;
  line-height: 1.25rem;
  width: calc(50% - 2rem - 2px);
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'Mukta', sans-serif;
  font-weight: 800;
  font-size: 12rem;
  margin-bottom: 0;
  margin-top: 0;
}

p {
  text-align: left;
}

.intro {
  font-size: 2rem;
  line-height: 2rem;
  text-align: justify;
  text-justify: inter-word;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
